<% include ./partials/header %>
<script>
	function floatingFilterTable(event) {
		var symbolArray = ["<",">"];
		var filter = event.target.value.toUpperCase();
		var rows = document.querySelector("#mainTable tbody").rows;
		var cellNum = this.id.substring(this.id.length,this.id.length-1);
		for (var i = 1; i < rows.length; i++) {
			for(var x=0; x<<%=maxColCount%>-1;x++){
				var firstCol = rows[i].cells[x].textContent.toUpperCase();
				//Allow User to filter value > <
				if(filter.indexOf(">")>-1 || filter.indexOf("<")>-1){
					if(filter.length>1){
						var converToNumber = Number(filter.substr(1));
						if(isNaN(Number(firstCol)) || firstCol==0){
							//Continue if not a number or empty cell
							continue;
						}
						else if(filter.indexOf(">")>-1){
							if(Number(firstCol)>converToNumber){
								//Greater Case
								rows[i].style.display = "";
								break;
							}
							else {
								rows[i].style.display = "none";
							}
						}
						else if(filter.indexOf("<")>-1){
							if(Number(firstCol)<converToNumber){
								//Less Case
								rows[i].style.display = "";
								break;
							}
							else {
								rows[i].style.display = "none";
							}
						}

					}
				}
				else if (firstCol.indexOf(filter) > -1) {
					//Normal Filter Case without the > <
					rows[i].style.display = "";
					break;
				}
				else {
					rows[i].style.display = "none";
				}
			}
		}
	}

	$(document).ready(function(){
		document.querySelector("body").style = "font-weight: bold";
		if("<%=template%>"=="DFPDart"){
			document.querySelector("#filterThat").addEventListener('keyup', floatingFilterTable, false);
			var tdContent = document.querySelector("#mainTable tbody").rows;
			//Painting all the cells the proper color scheme and bordering
			for(var i=0;i< tdContent.length; i++){
				for(var x=0;x< tdContent[i].cells.length; x++){
					tdContent[i].cells[x].classList.add("boldThat");
					if(tdContent[i].cells[x].textContent=="Change Since Last Report" ||
					   tdContent[i].cells[x].textContent.indexOf("Liberator or")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("Description")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("# of Lines")!=-1 ||
					   (tdContent[i].cells[x].textContent.indexOf("Reallocation Opportunity")!=-1 && i==5) ||
					   tdContent[i].cells[x].textContent.indexOf("Advertiser")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("Reallocation Opportunity	")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("Contract Change")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("Issues")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("lrow")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("Excluded Lines")!=-1 ||
					   (tdContent[i].cells[x].textContent.indexOf("Opportunity")!=-1 && i==19 && x<4)){
						tdContent[i].cells[x].classList.add("grayThat");
					}
					else if(tdContent[i].cells[x].textContent.indexOf("Recovered Since Last Report")!=-1 ||
					(tdContent[i].cells[x].textContent.indexOf("Opportunity")!=-1 && i==19 && x>=4) ||
					(tdContent[i].cells[x].textContent.indexOf("Liberator")!=-1 && i==34) ||
					(tdContent[i].cells[x].textContent.indexOf("Manual")!=-1 && i==34) ||
					(tdContent[i].cells[x].textContent.indexOf("Reallocation Opportunity")!=-1 && i==33)){
						tdContent[i].cells[x].classList.add("orangeThat");
					}
					else if((i==8 & x<4) || (i==12 & x<4)){
						tdContent[i].cells[x].classList.add("tealThat");
					}
					else if(tdContent[i].cells[x].textContent.length==0 || tdContent[i].cells[x].textContent.length==2){
						tdContent[i].cells[x].classList.add("unborderThat");
					}if( (i==1 && x<3) || (i==5 && x<4) || (i==19 && x<7) || (i==34 && x<7) || (i==18 && x==5)|| (i==33 && x==3)){
						tdContent[i].cells[x].classList.add("borderTop");
					}
				}
			}

		}else if("<%=template%>"=="1234"){
			document.querySelector("#filterThat").addEventListener('keyup', floatingFilterTable, false);
		}else if("<%=template%>"=="DFPInvTuner"){
			document.querySelector("#filterThat").addEventListener('keyup', floatingFilterTable, false);
			var tdContent = document.querySelector("#mainTable tbody").rows;
			//Painting all the cells the proper color scheme and bordering
			for(var i=0;i< tdContent.length; i++){
				for(var x=0;x< tdContent[i].cells.length; x++){
					tdContent[i].cells[x].classList.add("boldThat");
					if(tdContent[i].cells[x].textContent.indexOf("Change Since Last Report") != -1 ||
					   tdContent[i].cells[x].textContent.indexOf("Total")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("National")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("Regional")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("Local")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("Pub")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("% of Imps Last 30 Days")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("Missing Lookups")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("Forgot to Delete")!=-1 ||
					   tdContent[i].cells[x].textContent.indexOf("Canada")!=-1) {
						   if(x>0 && x<5) tdContent[i].cells[x].classList.add("grayThat");
						   else if(x==0) tdContent[i].cells[x].classList.add("orangeThat");
						   else tdContent[i].cells[x].classList.add("tealThat");
					}
					if((i==2 && x <3) || (i==5 && x <3) || (i==7 && x <3) || (i==9 && x <3) ||
						(i==14 && x <12) || (i==16 && x <12) || (i==18 && x <12) || (i==20 && x <12) ||
						(i==22 && x <12) || (i==24 && x <12) || (i==26 && x <12) || (i==28 && x <12)){
						tdContent[i].cells[x].classList.add("lightGrayThat");
					}
				}
			}
		}

	});
</script>
<% if(template == "1234"){ %>
	<table class="table" id="mainTable">
	    <tbody>
	        <%for(var i in content2){%>
		        <tr>
		            <%for(var x=0;x<maxColCount;x++){%>
			            <% if(i=="headers"){%>

			            	<th scope="col"><%=content2[i][x]%></th>
			            <% }else{%>
			            	<td> <%= content2[i][x] %> </td>
			            <%  } %>
		            <%}%>
				</tr>
			<%}%>
	    </tbody>
	</table>
<% }else if(template == "DFPDart"){ %>
	<table class="table" id="mainTable">
	    <tbody>
	        <%for(var i in content2){%>
		        <tr>
		            <%for(var x=0;x<maxColCount;x++){%>
			            <% if(i=="headers"){%>
			            	<th scope="col"><%=content2[i][x]%></th>
			            <% }else{%>
			            	<td> <%= content2[i][x] %> </td>
			            <%  } %>
		            <%}%>
				</tr>
			<%}%>
	    </tbody>
	</table>
<% } else if(template == "DFPInvTuner"){%>
	<table class="table" id="mainTable">
	    <tbody>
	        <%for(var i in content2){%>
		        <tr>
		            <%for(var x=0;x<maxColCount;x++){%>
			            	<td> <%= content2[i][x] %> </td>
		            <%}%>
				</tr>
			<%}%>
	    </tbody>
	</table>
<% } %>

<div class="floatingFilter">
	<input class="form-control filterBot" id="filterThat" type="text" placeholder="Filter">
</div>

<% include ./partials/footer %>
